<html>
    <head>
        <title>Pokemon</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <header style="width:100vw; text-align:center;">
            <h1>{{information}}</h1>
        </header>
        <main>
            <div style="display:flex; justify-content: space-evenly; width:100vw;">
                {% for pokemon in pokemons%} 
                    <div class="card" style="width: fit-content;">
                        <img src="{{pokemon.picture}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h6 class="card-title">{{pokemon.name}}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <footer>
            <a href="{% url 'home' %}">Home</a>
        </footer>
    </body>
</html>